<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="text-center">
    <p class="display-6 text-primary m-5">The requested page couldn't be found</p>
    <img th:src="@{/images/notFound.svg}" alt="not found" class="w-25 m-5">
</body>

</html>