<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <p th:text="${model.roles}"></p> -->
    <div sec:authorize="isAuthenticated()">
        welcome <span sec:authentication="name">username</span>
        &nbsp;
        <span sec:authentication="principal.authorities"> roles</span>
        <p sec:authorize="hasAnyAuthority('ADMIN')"> IM ADMIN</p>
       

    </div>
    <P sec:authorize="hasAnyAuthority('USER')">im user</P>
    <p sec:authorize="hasAnyAuthority('PHARMACY')">IM PHARMACY</p>
    <p>hi</p>
    
</body>
</html>