<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="bg-light container">
    <div class="container row justify-content-center align-content-center m-auto vh-100">
        <div class="col-3 shadow p-4">
            <h1 class="display-4 text-center">Login</h1><br><br>
            <form th:action="@{/login}" method="post">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="Email" id="emial-input" class="form-control" placeholder="Email address"><br>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password"><br>
                <input type="submit" value="login" class="btn btn-primary">
            </form>
        </div>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>