<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div>
        <div class="col-lg-3 col-md-5 container shadow border bg-light h6 text-center mt-5 p-5 m-4 min-w-300"
            th:each="pharmacy:${pharmacies}" style="border-radius: 50px;">
            <img th:src="@{/images/medicineLogo.jpg}" alt="" class="rounded-pill w-75">
            <section th:object="${medicine}">
                <p th:text="'Medicine name: '+*{name}" class="fw-bold text-primary"></p>
                <p th:text="'price: '+*{price}"></p>
                <p th:text="'Quantity: '+*{quantity}"></p>
            </section>
            <section th:object="*{pharmacy}">
                <p th:text="'Pharamacy name: '+*{name}" class="fw-bold text-primary"></p>
                <p th:text="'Phone: '+*{phone}"></p>
                <p th:text="'City: '+*{address.city}"></p>
                <p th:text="'Subcity: '+*{address.subCity}"></p>
                <p th:text="'House no: '+*{address.houseNo}"></p>
                <p th:text="'Kebele: '+*{address.kebele}"></p>
            </section>
        </div>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>