<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharamacy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="bg-light container">
    <div class="d-flex vw-75 justify-content-end">
        <a th:href="@{/pharmacy/update/${pharmacy.id}}" class="btn btn-primary m-3">edit</a>
        <a th:href="@{/pharmacy/delete}/${pharmacy.id}" class="btn btn-primary m-3">delete</a>
    </div>
    <div class="container text-center row justify-content-center vw-100">
        <div class="col-lg-8 col-md-11 jusify-content-center">
            <div class="container h6 text-start mt-5 p-5 m-4 min-w-300">
                <img th:src="@{/images/pharmacyLogo.jpg}" alt="" class="rounded-pill w-75">
                <section th:if="${pharmacy!=null}" th:object="${pharmacy}" class="h4">
                    <p th:text="'Pharamacy name: '+*{name}" class="fw-bold text-primary display-6"></p>
                    <p th:text="'Phone: '+*{phone}"></p>
                    <p th:text="'City: '+*{address.city}"></p>
                    <p th:text="'Subcity: '+*{address.subCity}"></p>
                    <p th:text="'House no: '+*{address.houseNo}"></p>
                    <p th:text="'Kebele: '+*{address.kebele}"></p>
                </section>
            </div>
        </div>
        <h1 th:text="${medicines.size()!=0}?'The medicines in the pharmacy are:':'No medicines in the pharmacy'" class="display-3 text-center"></h1>
        <div class="row justify-content-center">
            <div th:if="${medicines!=null}" class="col-lg-5 col-md-8 container shadow border bg-light h6 text-center mt-5 p-3 m-4 min-w-300" th:each="medicine:${medicines}" style="border-radius: 50px;">
                <div class="d-flex justify-content-end w-100">
                    <div class="w-50">
                        <button th:href="@{/medicine/update/*{id}}" class="btn" style="width: 35%;"><img th:src="@{/images/editIcon.png}" class="w-100"alt="" ></button>
                        <button th:href="@{/medicine/delete/*{id}}" class="btn" style="width: 35%;"><img th:src="@{/images/deleteIcon.png}" class="w-100"alt=""></button>
                    </div>
                </div>
                <img th:src="@{/images/medicineLogo.jpg}" alt="" class="rounded-pill w-75 mb-5">
                <p th:text="'Medicine name: '+*{name}" class="fw-bold text-primary"></p>
                <p th:text="'price: '+*{price}" class="display-6"></p>
                <p th:text="'Quantity: '+*{quantity}" class="display-6"></p>
            </div>
        </div>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>