<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>phrmacy Register</title>
  </head>

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <body>
    <div class="container mx-auto w-50">

      <form method="POST" th:action="@{/registerPharmacy}" id="registerForm">
        <div th:object="${model}">
          <!-- <label class="form-label" for="username">name of pharmacy: </label> -->
          <input class="form-control" type="hidden" name="username" id="username" th:value="${username}" />
  
          <!-- <label class="form-label" for="password">Password: </label>
          <input
            class="form-control"
            type="password"
            name="password"
            id="password"
          /> -->
  
          <!-- <label class="form-label" for="confirm">Confirm password: </label>
          <input
            class="form-control"
            type="password"
            name="confirm"
            id="confirm"
          /> -->
  
          <!-- <label class="form-label" for="email">email: </label> -->
          <input class="form-control" type="hidden" name="email" id="email" th:value="${email}" />
  
          <!-- <label class="form-label" for="phone">Phone: </label> -->
          <input class="form-control" type="hidden" name="phone" id="phone" th:value="${phone}" />
        </div>
       
        <p>address register form </p>
        <label class="form-label" for="address.city">city: </label>
        <input class="form-control" type="text" name="address.city" id="address.city" />
        <label class="form-label" for="address.subCity">subcity: </label>
        <input class="form-control" type="text" name="address.subCity" id="address.subCity" />
        <label class="form-label" for="address.kebele">kebele: </label>
        <input class="form-control" type="text" name="address.kebele" id="address.kebele" />
        <label class="form-label" for="address.houseNo">houseNp: </label>
        <input class="form-control" type="text" name="address.houseNo" id="address.houseNo" />

        <!-- <p>medicine enter form</p>
        <label class="form-label" for="medicine">medicine: </label>
        <input class="form-control" type="text" name="medicine.add" id="medicine" /> -->


        <input class="btn btn-primary my-2" type="submit" value="Register" />
      </form>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>