<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>alen</title>
</head>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<body>
  <div class="container mx-auto w-50">

    <form method="POST" th:action="@{/registerUser}" id="registerForm" th:object="${form}">

      <div class="m-1">
        <label class="form-label" for="username"> Username: </label><br>
        <input th:field="*{username}" type="text" id="username"
          th:class="|form-control ${#fields.hasErrors('username')? 'is-invalid': 'is-valid'}|">
      </div>

      <div class="m-1">
        <label class="form-label" for="password"> Password: </label><br>
        <input th:field="*{password}" type="password" id="password"
          th:class="|form-control ${#fields.hasErrors('password')? 'is-invalid': 'is-valid'}|">
      </div>

      <div class="m-1">
        <label class="form-label" for="phone"> Phone: </label><br>
        <input th:field="*{phone}" type="tel" id="phone"
          th:class="|form-control ${#fields.hasErrors('phone')? 'is-invalid': 'is-valid'}|">
      </div>

      <input class="btn btn-primary my-2" type="submit" value="Register" />
    </form>
  </div>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>