<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="light text-center" style="background-image: linear-gradient(to bottom right,#ffffff,#0275d8 )">
    <img src="/images/searchBackground.jpg" class="card-img vh-100" alt="background image">
    
    <a href="/user">user</a>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>