<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>this is update pharmacy page</p>
    <form th:action="@{pharmacy/update}" method="POST" th:object="${pharmacy}">
        <input type="hidden" th:value="*{email}">
        <input type="text" th:placeholder="*{name}">
        <input type="password" th:placeholder="*{password}">
        <input type="text" th:placeholder="*{phone}">
        <button type="button" class="btn btn-primary">Save changes</button>
    </form>
</body>

</html>