<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add pharmacy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="container bg-light">
    <div class="row justify-content-center vh-100 align-items-center container">
        <div class="col-7 shadow border rounded-3 row bg-light">
            <h1 class="display-3 text-primary text-center">Edit pharmacy</h1>
            <form th:action="@{/user/pharmacy/update}" method="post" class="row justify-content-center">
                <div th:object="${pharmacy}">
                    <input type="hidden" th:field="*{id}" th:value="*{id}">
                    <div class="m-1">
                        <label class="form-label" for="name"> Name: </label><br>
                        <input th:field="*{name}" type="text" id="name"
                            th:class="|form-control ${#fields.hasErrors('name')? 'is-invalid': 'is-valid'}|">
                    </div>
                    <div class="m-1">
                        <label class="form-label" for="phone"> Phone: </label><br>
                        <input th:field="*{phone}" type="tel" id="phone"
                            th:class="|form-control ${#fields.hasErrors('phone')? 'is-invalid': 'is-valid'}|">
                    </div>
                </div>
                <div th:object="${address}">
                    <!-- <input type="hidden" th:value="${pharmacy.address.id}"> -->
                    <h2 class="display-6 text-secondary m-3">Edit the address of the pharmacy</h2>
                    <div class="m-1">
                        <label class="form-label" for="city"> City: </label><br>
                        <input th:field="*{city}" type="text" id="city"
                            th:class="|form-control ${#fields.hasErrors('city')? 'is-invalid': 'is-valid'}|">
                    </div>
                    <div class="m-1">
                        <label class="form-label" for="Subcity"> Subcity: </label><br>
                        <input th:field="*{subCity}" type="text" id="Subcity"
                            th:class="|form-control ${#fields.hasErrors('subCity')? 'is-invalid': 'is-valid'}|">
                    </div>
                    <div class="m-1">
                        <label class="form-label" for="kebele"> Kebele: </label><br>
                        <input th:field="*{kebele}" type="text" id="kebele"
                            th:class="|form-control ${#fields.hasErrors('kebele')? 'is-invalid': 'is-valid'}|">
                    </div>
                    <div class="m-1">
                        <label class="form-label" for="houseNo"> House number: </label><br>
                        <input th:field="*{houseNo}" type="text" id="houseNo"
                            th:class="|form-control ${#fields.hasErrors('houseNo')? 'is-invalid': 'is-valid'}|">
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary w-25 center m-2">
            </form>
        </div>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>

<!-- <body>
    <p>this is update pharmacy page</p>
    <form th:action="@{pharmacy/update}" method="POST" th:object="${pharmacy}">
        <input type="hidden" th:value="*{email}">
        <input type="text" th:placeholder="*{name}">
        <input type="password" th:placeholder="*{password}">
        <input type="text" th:placeholder="*{phone}">
        <button type="button" class="btn btn-primary">Save changes</button>
    </form>
</body>

</html> -->