<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="text-center">
    <div class="h-75 shadoborder h6 text-center p-5 min-w-300 bg-secondary">
        <div class="container align-content-center justify-content-center">
            <form th:action="@{/search}" method="get" class="text-center row justify-content-center d-flex">
                <input type="text" name="q" id="name" class="form-contol form-control-lg border-3 col-7 w-75"
                    placeholder="Enter medicine name here...">
                <input type="submit" value="Search" class="btn btn-primary col-2">
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a th:if="${pharmacy==null}" th:href="@{/user/pharmacy/create}" class="btn btn-primary m-0">Add pharmacy</a>
        <a th:if="${pharmacy!=null}" th:href="@{/user/pharmacy}">pharmacy</a>
        <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/admin}">admin</a>
    </div>
    <div class="row justify-content-center vh-100 align-content-center">
        <div class="h-75 col-lg-3 col-md-5 col-sm-8 container shadow border bg-light h6 text-center mt-5 p-5 m-4 min-w-300"
            style="border-radius: 50px;">
            <img th:src="@{/images/userLogo.svg}" alt="" class="rounded-pill w-75">
            <section th:object="${user}">
                <div class="text-primary display-6" th:text="*{username}"></div><br>
                <div class="text-secondary h6" th:text="'Email: '+*{email}"></div><br>
                <div class="text-secondary h6" th:text="'Phone: '+*{phone}"></div><br>
            </section>
        </div>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>